/* kavoon-regular - latin */

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kavoon';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kavoon-v21-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/kavoon-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/kavoon-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/kavoon-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/kavoon-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/kavoon-v21-latin-regular.svg#Kavoon') format('svg');
    /* Legacy iOS */
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-image: url('img/background-side/water-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    font-family: 'kavoon';
}

h1 {
    font-size: 45px;
    letter-spacing: 6px;
}

canvas {
    background-color: black;
    display: none;
    border-radius: 20px;
    box-shadow: 0px 0 10px 10px rgb(0 0 0 / 20%);
}


/**********************************general classes*****************************************/

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.button {
    cursor: pointer;
}

.button:hover {
    transform: scale(1.02);
    transition: 125ms ease-in-out;
}


/**********************************specific classes*****************************************/

.startscreen {
    width: 720px;
    height: 420px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.startscreen img {
    width: 250px;
}

#canvasScreen {
    position: relative;
    display: none;
}

.volumeBtn {
    position: absolute;
    top: 10px;
    right: 150px;
}

.volumeBtn img {
    height: 25px;
}

.menuBtn {
    position: absolute;
    top: 10px;
    right: 30px;
}

.menuBtn img {
    width: 85px;
    height: 25px;
}


/* .fullscreenBtn {
    position: absolute;
    top: 10px;
    right: 15px;
}

.fullscreenBtn img {
    width: 85px;
    height: 25px;
} */

.instructionsScreen {
    width: 720px;
    height: 420px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.instructionsDesign {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 35px;
}

.instructionDesignImg {
    width: 230px;
}

.key-F-image {
    width: 70px;
}

.menuButton {
    display: flex;
    justify-content: center;
}

.menuButton img {
    width: 100px;
}

#winningScreen {
    width: 720px;
    height: 420px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.winningScreenImg {
    width: 100%;
    border-radius: 20px;
}

#loosingScreen {
    width: 720px;
    height: 420px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.loosingScreenImg {
    width: 100%;
}

.bigButton {
    width: 250px;
    margin: 5px;
}


/*------Smartphones--------*/

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
    h1 {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    h1 {
        display: none;
    }
}